*{
  padding: 0px;
  margin: 0px;
}
.search{
    position: relative;
  }
  .icon_search {
    position: absolute;
    right: 15px;
    top: 50%;
    ransform: translateY(-50%);
  }
  .search input {
    padding-right: 50px;
  }
  .asied {
    background-color: #faffc1;
  }
  
  