*{
  padding: 0px;
  margin: 0px;
}
.search{
    position: relative;
  }
  .icon_search {
    position: absolute;
    right: 15px;
    top: 13px;
  }
  .search input {
    padding-right: 50px;
  }
  .asied {
    background-color: #faffc1;
  }
  .asied ul li a:hover{
     background-color:#31D2F2 ;
  }
  
  